# env 파일
.env
.env.*
*.env

# 파이썬 캐시
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# 라이브러리 캐시 (mypy 등)
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# 도커 관련 설정 파일
Dockerfile
docker-compose.yml
docker-compose.*
app/Dockerfile
app/.dockerignore

# docs (문서화 관련)
docs/
Docs/
*.md

# README.md
README.md

# IDE 설정 파일
.vscode/
.idea/
.DS_Store
